.container {
	margin-bottom: 20px;
}

.footer {
	margin-top: 20px;
}

h1 small {
	font-size: 18px;
}

.hidden {
	display: none !important;
}

.buttons-row {
	margin-top: 10px;
}

#post-content #save {
	margin-right: 10px;
}

#post-content #new {
	margin-bottom: 20px;
}

.span9.markdown-textarea textarea {
	width:100%;
	height:450px;
	box-sizing: border-box;
}

h1 small.publish-date {
	margin-left: 10px;
	color: #98B64D;
}

div.edit-date {
	text-align: right;
	margin-top: 15px;
	font-size: 14px;
	color: #77A2D0;
}

span.created {
	color: #98B64D;
}

@media (max-width: 767px) {
	#right-col {
		margin-top: 30px;
	};
}