p Hey, my name is Mikael Nilsson and I'm a software engineer living in Stockholm, Sweden. I have a bachelor degree in Computer Engineering and am currently working as a Java developer at a Swedish media company called Metro.
p In my freetime I love to explore different sorts of computer programming, which is what I'll share on this site.
p This website is written with Node.js and Angular.js, and its source code is available to you, for free, on 
    a(href="https://github.com/micke239/mickenilsson.me") GitHub.