doctype 5
html(ng-app="app")
	head
		title mickenilsson.me
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/css/bootstrap.min.css", type="text/css")
		link(rel="stylesheet", href="/css/bootstrap-responsive.css", type="text/css")
		link(rel="stylesheet", href="/css/docs.css", type="text/css")
		link(rel="stylesheet", href="/css/style.css", type="text/css")
	body
		div.container
			header(class="jumbotron subhead")
				div.row
					span.span9
						h1 mickenilsson.me
				div.subnav
					ul(class="nav nav-pills")
						li.active
							a(href="/#!/blog/") Dev blog
						li
							a(href="/#!/demo/") Demos
						li
							a(href="/#!/links/") Links
			div.row
				div.span10
					section(ng-view)
				div.span2
					div#right-col
						
			footer.footer
				span &copy; Mikael Nilsson -- 2012
		
		script(src="/src/conf/require.js")
		script(data-main="main.js", src="/src/lib/require.js", async="async")
