form(ng-submit="login()")
	input(type="text", placeholder="username", ng-model="username")
	input(type="password", placeholder="password", ng-model="password")
	input.btn.btn-success(type="submit", value="continue")